<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content = "ie=edge">
        <title> 스벅css </title>

    </head>
<style>
html{font-size: 20px;}
body{ font-size:1rem;}
img{display: block;}

header{background: #f6f5ef; border-top: 2px solid #000;}
header .total{display: none;}
header>div{position: relative; width: 63.5rem; margin: 0 auto;}
header>div:after{content: "";display: block; clear: both;}
header>div h1{float: left; padding: 1.1rem 0 1.2rem;}
header>div nav{float: right; padding: 3.5rem 0 0 0;}
header>div nav>ul>li{float: left;}
header>div nav>ul>li>a{display: block; font-size: 0.7rem; color: #333; padding:0.75rem 1.25rem 0; height: 2.6rem; line-height: 100%;}
header>div .spot{position: absolute; top: 1rem; right: 2.25rem;}
header>div .spot i {display: none;}
header>div .spot li{position: relative; float: left;}
header>div .spot li a{padding: 0 0.75rem; font-size: 0.7rem; color: #333; line-height: 100%;}
header>div .spot li~li a:after{content: ""; position: absolute; left: 0; top: 50%; width:1px; height: 0.6rem; background: #e5e5e5; transform: translateY(-25%);}
header>div .spot li:last-child a{ display: block; width: 1.7rem; height: 1.7rem; text-align: center; line-height: 1.7rem; font-size: 0; color:transparent; border:1px solid #ccc ; background: #fff; padding: 0; border-radius: 0.25rem;}
header>div .spot li:last-child a:after{display: none;}
header>div .spot li:last-child a:before{content:"\e97a"; font-family: "xeicon"; font-size: 1.2rem; color: #000;}














</style>    
    <body>
        
    </body>
</html>