<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible" content = "ie=edge">
        <title> 스벅css </title>

    </head>
<style>
html{font-size: 16px;}
body{font-size: 1rem;}

header{border: none;}
header>div h1{ padding: 0.8125rem 0 0.75rem 0.625rem;}
header h1 img{width: 2.8125rem;}
header>div nav{display: none;}
header>div .spot{right: 4.5rem; top: 1.3rem;}
header>div .spot i{display: inline-block; font-size: 2rem;}
header .total{display: inline-block; position: absolute; right: 0.75rem; top: 0; font-size: 2rem;}
header>div .spot li a{padding: 0;}
header>div .spot li~li { padding-left: 1.6875rem; }
header>div .spot li~li a:after{display: none;}
header>div .spot li:nth-child(2),
header>div .spot li:nth-child(3),
header>div .spot li:nth-child(5){display: none;}
header .total span, header>div .spot li span{position: absolute; left:-40000%;}





</style>    
    <body>
        
    </body>
</html>